<div class="card ">
  <div class="card-header bg-success text-white">
    <span>
      <i class="fa fa-plus align-middle mx-1"></i>
      \{{'Labels.create{{pascalCase entity.name}}' | translate}}
    </span>
  </div>
  <div class="card-body">
    <form #formModel="ngForm">
      <label class="text-danger"
             *ngFor="let item of formModel.form | transformErrors"
             [innerText]="['Errors',item.message].join('.') | translate">
      </label>
      <div class="form-row">
        {{#each entity.fields}}
        {{> (lookup . 'input') entity=../this field=this }}
        {{/each}}
      </div>
    </form>
  </div>
  <div class="card-footer text-muted">
    <button type="submit"
            [disabled]="creationState.IsWait || formModel.invalid"
            class="btn btn-primary btn-icon-split"
            (click)="onSubmit()">
      <span class="icon text-white-50">
        <i class="\{{creationState.IsWait ? 'spinner-grow spinner-grow-sm' : 'fa fa-check'}}"></i>
      </span>
      <span class="text"
            [innerText]="'Labels.ok' | translate"></span>
    </button>
    <button type="button"
            class="btn btn-danger btn-icon-split"
            routerLink="../">
      <span class="icon text-white-50">
        <i class="fa fa-times"></i>
      </span>
      <span class="text"
            [innerText]="'Labels.cancel' | translate"></span>
    </button>
  </div>
</div>


<!-- entity | field -->
{{#*inline "text"}}
    <div class="form-group col-md-4">
          <label for="name"
                 [innerText]="'{{pascalCase entity.name}}CreateModel.{{camelCase field.name}}' | translate">
          </label>
          <input [(ngModel)]="createModel.{{camelCase field.name}}"
                 required
                 class="form-control"
                 name="{{camelCase field.name}}"
                 id="{{camelCase field.name}}"
                 [placeholder]="'{{pascalCase entity.name}}CreateModel.{{camelCase field.name}}' | translate">
          <label class="text-danger"
                 *ngFor="let item of formModel.form | transformErrors:'{{camelCase field.name}}'"
                 [innerText]="['Errors',item.message].join('.') | translate">
          </label>
        </div>
{{/inline}}
{{#*inline "textarea"}}
    <div class="form-group col-md-4">
          <label for="description"
                 [innerText]="'BookCreateModel.description' | translate">
          </label>
          <textarea [(ngModel)]="createModel.description"
                    required
                    class="form-control"
                    name="description"
                    id="description"
                    [placeholder]="'BookCreateModel.description' | translate">
          </textarea>
          <label class="text-danger"
                 *ngFor="let item of formModel.form | transformErrors:'description'"
                 [innerText]="['Errors',item.message].join('.') | translate">
          </label>
        </div>
{{/inline}}